@font-face {
  font-family: KGHappy;
  src: url("../styles/hinted-KGHAPPY.woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: KGHappySolid;
  src: url("../styles/hinted-KGHAPPYSolid.woff2");
  font-weight: 400;
  font-style: normal;
}

#root {
  width: 100%;
  height: 100%;
}

body { 
  padding: 0;
  margin: 0;
}

.Home {
  background-image: url('../public/images/phobackground.jpg');
  background-size: cover;
  padding: 20px;
  min-height: 100vh;
  /* overflow: scroll; */
}

.main-header {
  font-family: KGHappy;
  font-size: 8vmin;
  line-height: 5vmin;
  text-align: center;
  margin-bottom: 5vmin;
}

.sub-header {
  font-family: KGHappy;
  font-size: 4vmin;
  text-align: center;
  margin-bottom: 1vmin;
  letter-spacing: -4px;
}

.main-body {
  margin: 0 auto;
  padding-left: 5px;
}

@media only screen and (min-width: 768px) {
  .main-body {
    max-width: 75% !important;
  }
}

@media only screen and (min-width: 1025px) {
  .main-body {
    max-width: 65% !important;
  }
}

.ui.fluid.card {
  background: rgb(255 255 255 / 65%);
}

.ui.huge.header.item-header {
  /* background-color: rgb(203 148 161); */
  background-color: white;
  width: fit-content;
  padding: 5px 20px 10px 20px;
  
}

.item-body {
  font-size: 1.2rem;
  padding: 20px;
}

.form-container {
  background-color: white;
  width: 55%;
  /* height: 30%; */
  padding: 15px 30px;
  margin-left: auto;
  margin-right: auto;
  font-family: KGHappySolid;
}

.card-content { 
  padding: 20px !important;
}

.card-body { 
  padding-top: 10px;
  padding-bottom: 10px;
}

.ui.container {
  margin-left: auto !important;
  margin-right: auto !important;
}

textarea {
  min-height: 40vh !important;
  height: 100%;
  width: 100% !important;
}

.container textarea {
  background-color: rgb(251 219 212);
  margin-bottom: 10px;
}

.container textarea:focus-visible {
  outline: -webkit-focus-ring-color auto 0px !important;
}

.container textarea {
  color: #494949;
  font-weight: 100 !important;
  /* letter-spacing: 0.5px; */
  line-height: 26px;
}